public/assets
public/assets.tgz
.bundle
db/*.sqlite3
log/*.log
log/*_log
log/*.lck
tmp/
.sass-cache/
*.swp
public/system
public/audio_mp3s
solr/data
solr
*.pid
.DS_Store
bin/
config/initializers/setup_mail.rb
config/initializers/setup_mail2.rb
