%p Hello #{@signup.name} 
%p Thank you for registering for the 2016 CAPP-USA and Fordham University Conference on Poverty and Development!
%p You are registered to attend the conference as a #{@signup.attendee_type_v}
- if @signup.accompanied
	%p A slot has also been reserved for your guest #{@signup.accompanied_by}
- if @signup.dinner
	%p You are also registered to attend the dinner

