%p= "Hello #{@user.full_name},"
%p
	Thank you for registering to CAPP-USA.org. As a registered user, you'll be able to view exclusive site content and register for special events, conferences, and classes. We will occasionally send you notices about CAPP-sponsored events and news. Your privacy is of the upmost importance to us; we will not share your email with any other organization or 3rd party vendor.
%p
	Please do not reply to this email; this email address is used solely for outgoing email documents. For general inquiries by email, contact <a href="mailto:info@capp-usa.org">info@capp-usa.org</a>. To contact a CAPP-USA representative call 1-888-448-4788.
%p Sincerely,
%p Centesimus Annus Pro Pontifice, Inc (CAPP-USA)
