.event_page
	.page
		%h2 Thank you for registering for the 2016 CAPP-USA and Fordham University Conference on Poverty and Development
		%h4 You should recieve an email shortly confirming your registration. We look forward to seeing you at the conference. 
