.page
	%h2.inline Contemporary Issues
	= select_tag 'person_type', options_for_select({"Choose a Perspective" => ""}) + options_from_collection_for_select(PersonType.published.order(:weight), "id", "name", (@person_type.id rescue ''))
	:javascript
		$("#person_type").change(function() {
			id = $(this).val();
			if (id) {
				window.location = "/contemporary_issues?q=" + id;
			}
		});
	= render :partial => 'content_fragments/menu_children_box_view', :locals => { :menu_items => @contemporary_issues }
