#left_menu
  .left_menu_item
    = link_to "Overview", view_contemporary_issues_path
  .left_menu_item
    %span I AM A:
  - PersonType.where(:published => true).order(:weight).each do |person_type|
    .left_menu_item.left_menu_sub_item
      = link_to person_type.name, person_type_path(person_type)
  .left_menu_item
    %span I AM INTERESTED IN:
  .left_menu_item
    %span ROLES IN CST:
