- if !list.contemporary_issues.empty?
	%h5.contemporary_issues_list_header RELATED CONTEMPORARY ISSUES

%ul.contemporary_issues_list
	- list.contemporary_issues.sort_by(&:title).each do |contemporary_issue|
		%li
			- if list.class.to_s == "PersonType"
				= link_to contemporary_issue.title, contemporary_issue_path(contemporary_issue, :q => list.id)
			- else
				= link_to contemporary_issue.title, contemporary_issue_path(contemporary_issue)
