.page
	%h2 Edit your Account Info
	%p With your Capp-usa.org account, you can view exclusive site content and register for special events, conferences, and classes.
	%hr
	%br
	= render :partial => 'form'
