%table.right_col
	%tr
		%td.padding_in10
			%h5 Yes! I want to learn more... 
			%h5 Add Your Email
			= form_for Contact.new do |f|
				= f.text_field :email, { :class => 'email_box', :id => 'js_email_address', :'data-label' => 'Add Email' }
				%p.arial.size11.cgrey Sign up for news, courses and events tailored to your interests.
				= f.submit :class => 'submit_btn', :value=> 'Submit'
