.homepage_episode_box
	.section_header
		.hp
			%h4 CAPP TV	
	%table
		%tr
			%td.episode_video
				%a{:href => "/episode-1"}= image_tag ('sja.jpg')
			%td.episode_about
				%h3 Episode 1: Applying CST to Charity
				.large On this episode of #SeeJudgeAct Bread of Life's CEO shows us how the principles of Catholic Social Teaching can be applied to charitable organizations.
				%a{:href => "/episode-1"}= "Watch Now"