.homepage_episode_box
	.section_header
		.hp
			%h4 CAPP TV	
	%table
		%tr
			%td.episode_video
				%a{:href => "/social_thought/185"}= image_tag ('sja.jpg')
			%td.episode_about
				%h3 3 Principles that can Change the World
				.large "See, Judge, Act" is CAPP-USA's exciting new Web series that discusses the principles, contemporary issues and implications of Catholic Social Teaching (CST), and investigates examples of CST in action today.
				%a{:href => "/social_thought/185"}= "Watch Now"