- stories = Story.order("published_at desc").published.limit(5).all
- if stories
	#home_news
		.section_header
			.hp
				%h4
					News Feed
				.view_all= link_to 'view all', stories_path
		- stories.each do |story|
			.thought
				.story_teaser
					.rss_feed_icon
					.category= story.category
					.thought_title= link_to story.title, story_path(story)

		.view_all.btm_link= link_to 'Read More News', stories_path
