- stories = Story.order(:published_at).published.limit(5).reverse()
- if stories
	#home_news
		.section_header
			.hp
				%h4
					News Feed
				.view_all= link_to 'view all', stories_path
		- stories.each do |story|
			.thought
				.thought_title= link_to story.title, story_path(story)
		.view_all.btm_link= link_to 'Read More News', stories_path
		
