- MenuItem.where(:parent_id => nil).order(:weight).each do |menu_item|
  %td.top_nav_container
    %a.top_nav{:href => menu_item.url}= menu_item.name
    - if !menu_item.children.empty?
      %ul.sub_menu
        - menu_item.children.each do |sub_menu_item|
          %li
            %a{:href => sub_menu_item.url}= sub_menu_item.name
