.exhortation
	.pope_img
		%img{:src => "/images/popefrancis.jpg"}
	.pope.inline
		%b Read Pope Francis' Apostolic Exhortation 
		The Joy of the Gospel 
	.title.inline
		%a.link{:href => "http://w2.vatican.va/content/dam/francesco/pdf/apost_exhortations/documents/papa-francesco_esortazione-ap_20131124_evangelii-gaudium_en.pdf"} 
			Download PDF 
	.pdf
		%a.link{:href => "http://w2.vatican.va/content/dam/francesco/pdf/apost_exhortations/documents/papa-francesco_esortazione-ap_20131124_evangelii-gaudium_en.pdf"}
			%img{:src => "/images/pdf.png"}