- stories = Story.order("published_at desc").published.limit(3)
- if stories
	#home_news
		.side_news_block
			%h5 Latest News
			- stories.each do |story|
				.news_item
					.news_teaser
						.rss_feed_icon
						.category= story.category
						.news_title= link_to story.title, story_path(story)
