- thought = Thought.random.first
- if thought
	%table.right_col.thought_block
		%tr
			%td.padding_in10
				%h5 Just a Thought
				.thought_quote
					= strip_tags(thought.teaser) rescue ""
					= link_to "Read more", thought_path(thought)
				- if !thought.users.empty?
					- thought.users.each do |user|
						.thought_author_container
							- if user == thought.users.first
								by:
							.thought_author
								.thought_image= link_to image_tag(user.profile_image(:small), :class => 'profile_image', :width => 24, :height => 24, :class => 'user_image', :title => user.full_name), user_path(user)
								= link_to user.full_name, user_path(user)
							- if user != thought.users.last
								&
				-# if !thought.contemporary_issues.empty?
					/Related to:
					/- thought.contemporary_issues.sample(5).each do |issue|
						/= link_to issue.title, contemporary_issue_path(issue), :class => 'contemporary_issue_link_thought'
						/="/"
