- thought = Thought.random
- if thought
	%table.right_col.thought_block
		%tr
			%td.padding_in10
				%h5 Just a Thought
				Related to:
				- thought.contemporary_issues.each do |issue|
					%span.contemporary_issue= issue.title
				.thought_quote= thought.teaser.html_safe rescue ""
				.thought_author_container
					by:
					.thought_author= thought.user.full_name rescue nil
