%table.right_col
  %tr
    %td.padding_in10
      %h5 User Menu
      %ul#user_menu
        - if user_signed_in?
          %li
            = link_to 'Content', content_fragments_url
          %li
            = link_to 'Pages', pages_url
          %li
            = link_to 'logout', destroy_user_session_url, :method => :delete
        - else
          %li
            = link_to 'login', new_user_session_url

