%tr{:class => cycle("odd", "even")}
	%td.encyclical_title= link_to teaser.title, encyclical_path(teaser)
	%td.encyclical_translated_title= teaser.translated_title
	%td.encyclical_author
		- teaser.authors.each do |author|
			.author= author.full_name rescue ''
	%td.encyclical_published_at= teaser.published_at.strftime("%h %d, %Y") rescue ''
