:javascript
	$(function() {
		$(".top_nav").removeClass("active");
		$("#top_nav_study_center").addClass("active");
	});
.page
	%h2 All Encyclicals
	- table(@encyclicals, ['name', 'title']) do |encyclical, klass|
		%tr{:class => klass}
			%td= link_to encyclical.name, encyclical_path(encyclical)
			%td= encyclical.title
