:javascript
	$(function() {
		$(".top_nav").removeClass("active");
		$("#top_nav_study_center").addClass("active");
	});
.page
	= render :partial => 'content_fragments/page', :object => @encyclical
:javascript
	$(document).ready(function() {
		var chapter = window.location.hash.replace("#", "");
		$("#" + chapter).addClass("found");
	});
