.black
	.slideshow.js_slideshow{:class => "slide1", :style => "background: url(/images/homepage-designV1_noButton.png)"}
		%a.event_34_homepage_link{:href => "/events/34#registration_form"} Register Now
