#left_menu
	.left_menu_item
		= active_link_to "Overview", what_is_cst_path
	.left_menu_item
		%span PRINCIPLES:
	- Principle.where(:published => true).order(:weight).each do |principle|
		.left_menu_item.left_menu_sub_item
			= active_link_to principle.name, principle_path(principle)
	.left_menu_item
		%span I AM INTERESTED IN:
	- PrismType.where(:published => true).order(:weight).each do |prism_type|
		.left_menu_item.left_menu_sub_item
			= active_link_to prism_type.name, prism_type_path(prism_type)
	.left_menu_item
		%span ROLES IN CST:
	- RoleType.where(:published => true).order(:weight).each do |role_type|
		.left_menu_item.left_menu_sub_item
			= active_link_to role_type.name, role_type_path(role_type)
	-#.left_menu_item
		-#%span I AM A:
	- -#PersonType.where(:published => true).order(:weight).each do |person_type|
		-#.left_menu_item.left_menu_sub_item
			-#= active_link_to person_type.name, person_type_path(person_type)
