.page
	- if @page
		= render :partial => 'content_fragments/page', :object => @page
	- else
		Create a page with a url of "/about_us/national_board" to not see this page anymore.
.page.national_board_member_content
	%h2 National Board Members
	= render :partial => 'users/board_member', :collection => User.national_board_members
.page.national_board_member_content
	%h2 Staff
	= render :partial => 'users/board_member', :collection => User.staff
.page.national_board_member_content
	%h2 Chapter Presidents
	= render :partial => 'users/board_member', :collection => User.chapter_presidents
