%h1 Conference Application
To complete your registration, please download and fill out the registration form.
%br
%br
%h2
	%b
		%u
			= link_to "Registration Form", @event.advanced_payment_form.url
%br
%br
The form includes appropriate payment instructions.



