%h1 Bank Transfer
Please transfer the appropriate amount for the event to:
%br
%br
Wire Routing Transit Number (ABA): 221172186
%br
SWIFT Code: PESBUS31
%br
Bank Name: People's United Bank
%br
City, State: Bridgeport, CT
%br
Account Number: 6500024312
%br
Title of Account: Centesimus Annus Pro Pontifice Inc CAPP-USA
%br
(Please specify motive of transfer, together with n. of participants and n. of accompanying guests)

