.table_contacts table.data_table{
	table-layout:fixed;
	overflow:hidden;
	word-wrap:break-word;
	font-family: "arial narrow";
}

	.td-1 {width: 20px}
	.td-2 {width: 20%}
	.td-3 {width: 30%}
	.td-4 {width: 40%}
	.td-5 {width: 50%}