.table_contacts table.data_table{
	table-layout:fixed;
	overflow:hidden;
	word-wrap:break-word;
	font-family: "arial narrow";
}

.table_contacts table.data_table th:first-child, .table_contacts table.data_table tr td:first-child{
	width: 15px;
}

.table_contacts table.data_table th:last-child, .table_contacts table.data_table tr td:last-child{
	width: 35px;
}

.table_contacts table.data_table th:nth-child(6), .table_contacts table.data_table tr td:nth-child(6){
	width: 250px;
}