- item = MenuItem.where(:url => object_url(page)).first
.breadcrumbs
	- if item
		- if item.parent_id
			%span.parent_title= render_parent_breadcrumb(item)
	%span.breadcrumb= page.title
	- if page.translated_title
		%span.translated_title= "(#{page.translated_title})"
	%div{:style => 'clear: both'}
