- item = MenuItem.where(:url => page.url).first
- if item
	.breadcrumbs
		- if item.parent_id
			= render_parent_breadcrumb(item)
			%span.breadcrumb= page.title
			- if page.translated_title
				%span.translated_title= "(#{page.translated_title})"
