- if menu_item.class == MenuItem
	- target = menu_item.target
	- name = menu_item.name
	- url = menu_item.url
	- image = Page.find_by_url(menu_item.url).thumbnail rescue nil
	- if !image
		- model = menu_item.url.split('/')[1]
		- id = menu_item.url.split('/')[2]
		- if model && id
			- obj = model.singularize.camelize.constantize.find(id.to_i) rescue nil
			- if obj
				- image = obj.thumbnail
- else
	- target = menu_item
	- name = menu_item.title
	- url = object_url(menu_item)
	- image = menu_item.thumbnail
.menu_item_box
	.image
		- if image
			= link_to image_tag(image), url
		- else
			= link_to image_tag('capp_logo.jpg', :size => '100x100'), url
	.bottom
		%span.name= name
