.menu_item_box
	.image
		- if menu_item.target and menu_item.target.image.file?
			= link_to image_tag(Page.find_by_url(menu_item.url).image), menu_item.url
		- else
			= link_to image_tag('capp_logo.jpg', :size => '100x100'), menu_item.url
	.bottom
		%span.name= menu_item.name
		%span.arrow= image_tag('menu_box_arrow.png')
