- if menu_item.class == MenuItem
	- target = menu_item.target
	- name = menu_item.name
	- url = menu_item.url
	- image = Page.find_by_url(menu_item.url).image rescue ''
- else
	- target = menu_item
	- name = menu_item.title
	- url = object_url(menu_item)
	- image = menu_item.thumbnail
.menu_item_box
	.image
		- if target and image.file?
			= link_to image_tag(image), url
		- else
			= link_to image_tag('capp_logo.jpg', :size => '100x100'), url
	.bottom
		%span.name= name
