.page
	%h2 All Questions
	- table(@questions, ['summary', '']) do |question, klass|
		%tr{:class => klass}
			%td= question.body
			%td.controls
				= link_to 'Edit', edit_admin_question_path(question)
				= link_to 'Delete', admin_question_path(question), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Question', new_admin_question_path

