
.menu_item_box {
	float: left;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin: 0 10px 10px 0;

	.image {
		text-align: center;

		img {
			width: 180px;
		}
	}

	.bottom {
		padding: 5px;
		font-weight: bold;

		.name {
			width: 80%;
		}

		.arrow {
			margin-top: 5px;
		}
	}
}
