table.left_menu_container {
	ul.contact_lists {
		list-style-type: none;

		li a {
			font-weight: normal;
			padding: 3px;
		}
	}
}

table.mail_left_menu_container td.mail_content_container {
	background: transparent;
}
