table.left_menu_container {
	ul.contact_lists {
		list-style-type: none;

		li a {
			font-weight: normal;
			padding: 3px;
			color: #61849d;
		}

		li a:hover {
			background: #dce7ef;
		}
	}
}

table.mail_left_menu_container td.mail_content_container {
	background: transparent;
}

table.mail_left_menu_container .button_group {
	padding: 10px;

	.plain_link {
		margin-top: 5px;
		font-weight: normal;
		color: #61849D;
		display: inline;
	}
	
	.plain_link:hover {
		text-decoration: underline;
	}
}

.page.button_group {
	.btn_edit {
		margin-left: 8px;
	}
}

.delete_selected_contacts {
	margin-bottom: 5px;
	margin-left: 5px;
}
