
#bulk_email .content_fragments .content_fragment_type {
	text-shadow: 0px -1px 0px #24124f;
	font-weight: bold;
	font-size: 15px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  	background: url("/images/top_nav_bg.gif");
		background-color: rgb(137, 119, 179);
  	color: #fff;
  	padding: 4px 7px;
}

#bulk_email a {
	color: #08c;
	text-decoration: none;
}

#bulk_email a:hover {
	text-decoration: underline;
}

#bulk_email .wrapper {
	max-width: 520px;
	margin: auto;
	padding: 20px;
}

#bulk_email .page {
	background: #fff;
	padding: 20px;
	margin: auto;
	max-width: 520px;
	margin-top: 20px;
}

#bulk_email .background {
	font-size:12px;
	color:#333;
	background: url("http://www.capp-usa.org/images/background.jpg") #ECEDE7;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	}

#bulk_email .message {
	font-size: 16px;
	color: #333;
	line-height: 1.6em;
	margin-bottom: 10px;
	}

#bulk_email hr {
	border: 0px;
	border-top: 3px solid #aaa;
	margin: 10px 0;	
}

#bulk_email .teaser {
	margin-top: 0px;
  display: inline-block;
  padding: 0 0 0 0px;
  font-family: arial;
  font-size: 12px;
  line-height: 1.6em;
  color: #777;
}

#bulk_email .thought {
  margin: 10px 0 10px 0;
  border-top: 1px dotted #aaa;
  padding: 10px 0 0 0;
}

#bulk_email h1 {
	font-size: 36px;
	font-weight: bold;
}

#bulk_email .title {
	font-weight: bold;
	font-size: 16px;
}
