/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table.encyclical_left_menu_container td.content_with_left_menu {
	padding: 0;
	width: 567px;
}

table.encyclical_left_menu_container .content_with_left_menu {
	background-image: none;
}

table.encyclical_teaser_list {
	width: 100%;
}

table.encyclical_teaser_list tr td {
	padding: 18px 18px 18px 0px;
}

table.encyclical_teaser_list tr.even {
	background-color: #f0f0f0;
}

table.encyclical_teaser_list .encyclical_title {
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
}

table.encyclical_teaser_list .encyclical_translated_title {
	color: #777;
	font-size: 13px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
}

table.encyclical_teaser_list .encyclical_author {
	color: #777;
	font-size: 11px;
	font-family: 'Open Sans Condensed', sans-serif;
}

td.encyclical_author {
}

.encyclical_author_image {
	display: inline-block;
}

.encyclical_author_image 
	img {
	 	border-radius: 40px;
		display: inline-block;
		margin-left: 18px;
}

.encyclical_author {
		display: inline-block;
}

table.encyclical_teaser_list .encyclical_published_at {
	width: 150px;
	float: right;
	text-align: right;
	font-size: 11px;
	color: #aaa;
}

.page .chapter.found {
	background-color: #fffbd1;
	padding: 20px;
}

.encyclical_reference {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 15px;
	color: #777;
	margin-bottom: 20px;
	font-family: georgia;
	line-height: 1.6em;
}

.homepage_quote 
	.encyclical_reference {
		margin-left: 0px;
		margin-right: 0px;
		font-size: 16px !important;
		color: #fff !important;
		margin-bottom: 15px;
		font-family: arial !important;
		line-height: 1.6em;
	
}

table.encyclical_teaser_list tr.encyclical_results_facets {
	background-color: #f8fadb;
}

table.encyclical_teaser_list tr.encyclical_results_facets td {
	border-bottom: 1px solid #eee;
}

.page .encyclical_reference_link {
	font-style: italic;
	white-space: nowrap;
}

#main .left_content .page .encyclical_chapter_link {
	float: left;
	display: block;
	position: relative;
	width: 100%;
	left: -10px;
	width: 16px;
	height: 16px;
	padding: 0;
	background: url('/assets/empty_book.png') no-repeat;
}

#main .left_content .page .encyclical_chapter_link.encyclical_with_reference {
	display: block;
	float: none;
	width: auto;
	padding-left: 20px;
	cursor: pointer;
	background: url('/assets/book.png') no-repeat;
}

.chapter_reference_content {
	border: 1px solid #777;
	padding: 5px;
}

ul.encyclical_chapter_results li {
	list-style-type: none;
}

ul.encyclical_chapter_results .search_result_type {
	float: none;
	display: inline;
	color: #777;
}

.encyclical_search_list {
	margin: 10px;
}

.encyclical_search_list_item {
	width: 525px;
	padding:10px;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: georgia;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}

.highlight {
		background: none repeat scroll 0 0 #EF0FFF;
		display: inline-block;
		color: white;
		padding: 0px 5px;
}

p.chapter span.highlighted {
	font-weight: bold;
}

.encyclical_search_list h3 {
		margin-bottom: 5px;
}

.encyclical_search_list h2 {
	margin-top: 15px;
	display: inline-block;
}
