/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table.encyclical_left_menu_container td.content_with_left_menu {
	padding: 0;
}

table.encyclical_left_menu_container .content_with_left_menu {
	background-image: none;
}

table.encyclical_teaser_list tr td {
	padding: 8px 5px;
}

table.encyclical_teaser_list tr.even {
	background-color: #f0f0f0;
}

table.encyclical_teaser_list .encyclical_title {
	width: 150px;
}

table.encyclical_teaser_list .encyclical_translated_title {
	width: 150px;
}

table.encyclical_teaser_list .encyclical_author {
	width: 150px;
	font-weight: bold;
	color: #555;
}

table.encyclical_teaser_list .encyclical_published_at {
	width: 85px;
}

.page .chapter.found {
	background-color: #fffbd1;
}

.page div.encyclical_reference {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 14px;
	color: #742900;
}

.page .encyclical_reference_link {
	font-size: smaller;
}

#main .left_content .page .encyclical_chapter_link {
	float: left;
	display: block;
	position: relative;
	left: -15px;
	width: 15px;
	height: 15px;
	background-color: red;
	cursor: pointer;
}

.chapter_reference_content {
	border: 1px solid #777;
	padding: 5px;
}

ul.encyclical_chapter_results li {
	list-style-type: none;
}

ul.encyclical_chapter_results .search_result_type {
	float: none;
	display: inline;
	color: #777;
}

