/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.rsvp_block .rsvp_left_column {
	padding: 8px;
	width: 400px;
	border-right: 1px solid #eee;
	background: #ffe;
}

.rsvp_block .rsvp_left_column .spots_titled {
	position: relative;
	top: 2px;
}

.rsvp_block .rsvp_right_column {
	width: 250px;
	padding: 8px;
}

.rsvp_block .rsvp_right_column .payment_link {
	display: block;
	font-size: larger;
	font-weight: bold;
	padding-top: 5px;
}

.rsvp_block .rsvp_right_column .payment_separator {
	margin-top: 5px;
	border-top: 1px solid #eee;
	margin-bottom: 5px;
}

.rsvp_block {
	padding: 8px;
	border: 1px solid #eee;
	border-radius: 3px;
}

.user_list li .count {
	float: right;
	padding: 0 3px;
	position: relative;
	border: 1px solid black;
	background-color: #eee;
	border-right: 0;
	color: black;
}

.user_list li .total_cost {
	float: right;
	padding: 0 3px;
	position: relative;
	border: 1px solid black;
	background-color: #eee;
	color: black;
}

div.payment_instructions {
	margin-top: 5px;
	padding: 8px;
	border: 1px solid #ff3030;
	background-color: #ffb7b7;
}

table.event_attendees_table {
	width: 100%;
}

table.event_attendees_table th {
	padding: 3px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}

table.event_attendees_table td {
	padding: 3px;
}
