
.question {
	width: 100%;
	padding: 10px 0 0 0;
	border-top: 1px dotted #aaa;
	margin: 0 0 10px 0;

	.question_body {
		font-weight: bold;
		width: 85%;
		vertical-align: middle;
		
		p {
			font-size: 12px;
			margin-bottom: 0px;
			color: #000;
		}
	}

	.buttons {
		width: 15%;
		vertical-align: middle;
		text-align: center;

		.answer_button {
			cursor: pointer;
			width: 90px;
			text-align: left;
			font-weight: bold;
			border: 1px solid #ccc;
			border-radius: 4px;
			padding: 0px 3px 5px 9px;
			background: -moz-linear-gradient(center top , white, #EFEFEF) repeat scroll 0 0 #F6F6F6;
		

			.arrow {
				margin-left: 18px;
				position: relative;
				top: 4px;
			}
		}

		.edit_button {
			margin-top: 5px;

			a {color: #aaa;}
		}

	}
}

.answer_button:hover {
	background: #eee;
	color: black;
}

.answer_popup,
.contact_popup {
	width: 66%;
	position: absolute;
	left: 8%;
	top: 10px;
	background-color: #fff;
	z-index: 999;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
	font-size: 1.4em;

	.title_bar {
		background-color: #e0edd6;
		font-weight: bold;
		padding: 3px;

		.answer_question {
			display: inline-block;
			width: 93%;

			p {
				padding: 5px;
				margin: 0px;
			}
		}

		.title {
			font-weight: bold;
		}

		.answer_close,
		.close_button {
			text-align: center;
			display: inline-block;
			padding: 3px;
			width: 3%;
			cursor: pointer;
			float: right;
		}
	}

	.answer_body,
	.popup_body {
		padding: 8px 20px 10px 20px;

		ol {
			padding-left: 25px;
			font-size: 12px;

			li {
				padding-bottom: 2px;
			}
		}

		p {
			font-size: 12px;
		}
	}

}
