/* reset.css */
html, hr {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.6em;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:top;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
a:hover {text-decoration: underline;}

.hidden {display: none;}

.clear {
	clear: both;
}

.paperclip_image {max-width: 720px;}

/*Background and Structure*/
html {font-size:100.01%;}
body {font-size:75%;color:#333;background: url("/images/background.jpg");font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

/*Typography definition*/
h1 {font-size:24px;font-weight:bold;line-height:140%;margin:0;font-family:arial;color:#232323;}
h2 {font-size:18px;font-weight:bold;line-height:130%;margin:0;font-family:arial;color:#232323;}
h3 {font-size:15px;font-weight:bold;line-height:130%;margin:0;font-family:arial;color:#232323;}
h4 {font-size:14px;font-weight:bold;line-height:130%;margin:5px 0 6px 0;font-family:arial;color:#777; }
h5 {font-size:12px;font-weight:bold;line-height:150%;margin:0;font-family:arial;color:#232323;}/*left bar title CAP*/

/*Special font definitions*/
.event_page h2 {padding: 5px 0; font-size: 22px; display: inline-block;}
.page h2 {margin: 0 10px 10px 0; display: inline-block; font-size: 24px;}
.content_with_left_menu h2 {display: inline-block;}
.study_center_blocks h2 {font-size: 16px;}
.content_with_left_menu ul li {margin: 0 0 0 18px;} 
.page h3 {text-transform: uppercase; font-size: 13px; margin-bottom: 10px;}
.events_block p {color: #aaa;}
.about_cst {padding: 20px; text-align: center; width: 940px; font-size: 26px; color: #333; line-height: 1.2em; color: #777;}
.strong {font-weight: bold; display: inline-block; color: #333;}
 
/*---General Define P TAG*/
.arial{font-family:arial;}
.cblack{color:#3C3D3D;}
.cgrey{color:#676767;}
.cblue{color:#268BB3;}
.size11{font-size:11px; line-height:130%;}
.size12{font-size:12px; line-height:130%;}
.size13{font-size:13px; line-height:140%;}
.size14{font-size:14px; line-height:150%;}
.size15{font-size:15px; line-height:150%;}
.bold{font-weight:bold;}

/*---Special Group*/
p.italyGeogia{font-style:italic; font-family:arial; }
em {font-style: italic;}

/*Basic Structure*/
body{line-height: 1.6em;}
#content{width:980px;height:auto;margin:auto;}
#logo {margin: 5px 0px; height: 60px;}

/*Global Items */
hr {border-top: 1px solid #ddd; border-bottom: 9px solid #eee;}
a {color: #61849D; text-decoration: none;}
a:hover {text-decoration: underline;}
p {line-height: 1.6em; color: #333; }
.page ul li {font-size: 14px; line-height: 1.6em; color: #333;}
.page p {margin-bottom: 15px; font-size: 12px;}
.inline {display: inline-block;}
ul {margin: 0 0 0 10px;}

select {
    font-size: 13px;
    font-weight: bold;
    color: #555;
	vertical-align: middle;
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    box-shadow: 0 0 1px #FFFFFF inset;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 8px 12px;
}

/*alerts and notices */
.notice {
	position: absolute; 
	top: -18px;
	box-shadow: 0 0 1px #75BB55 inset; 
	background: #75BB55;
    text-shadow: 0 0 0 transparent, 0 -1px 0 #599e3a;
    color: #fff;
    padding: 0px 20px;
    right: 0px;
	font-size: 11px;
	}
.no_results {
	padding: 3px;
	border: 0px;
	background: #afd4d4;
}

/*Login, Logout, Username*/

#user_login {
	width: 300px;
	float: right; 
	text-align: right;
	padding-top: 5px;
}

.login_link {
	border-left: 1px solid #aaa;
	padding: 0 0 0 10px;
	margin: 0 0 0 8px;
}

.user_name {
	margin-right: 10px;
	color: #777;
}

/*--Header*/
#header{width:980px;clear:both;position:relative;}
/*----logo*/

/*----Top Navigation & Search Box*/
#top_nav_bar{display:block;width:980px;height:40px;background:url(/images/top_nav_bg.gif);}

table.nav_main{display:inline;border:none;border-collapse:collapse;}
table.nav_main tr{margin:0 5px;line-height:40px;border:none;border-collapse:collapse;}
table.nav_main tr td{border:none;border-collapse:collapse;}

a.top_nav{font-size:14px;font-weight:bold;color:#fff;text-decoration:none;font-family:arial;line-height:40px;height:40px;padding:0 10px;display:block;}
a.top_nav:hover{background:url(/images/top_nav_bg_hover.gif) repeat-x center;}
a.top_nav.active{background:url(/images/top_nav_bg_hover.gif) repeat-x center;}

.search_form{width:250px;height:24px;background:#fff;border:1px #ccc solid;margin:6px 10px;padding:0;}
.search_box{width:214px;height:24px;border:none;padding:0 3px;vertical-align:top;color:#676767;}
.search_btn{background:url(/images/search_btn.png);vertical-align:top; width:26px;height:23px;border:none;}

/*Main Part*/
#main{background:#fff;border:none;width:980px;height:auto;margin:20px 0 0 0; position: relative;border:1px solid #ddd;}
.left_column{width:180px;}
.left_content{width:760px; border:0px solid #ddd; border-right: 0;}
.no_right_column {width:980px; border-right: 0px solid #ddd;}
.left_content .page {padding:20px}
.no_right_column .page {padding: 0px; position: relative;}

.black {background: black;}
.slide1, .slide2, .slide3 {background: url("/images/h_economiccrisis.jpg"); padding: 0px; height: 410px; position: relative;}



.right_content{width:820px;}
.right_column{width:240px;}
.middle_content{width:580px;}

/*Buttons*/
.btn_edit {
    font-size: 11px;
    font-weight: bold;
    color: #555555;
	vertical-align: middle;
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    box-shadow: 0 0 1px #FFFFFF inset;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 8px 12px;
    display: inline-block;
    float: right;
    right: 8px;
}

/*Special Homepage*/
.index_scroller_table {
	width: 100%;

	.side_column {
		width: 300px;
	}
}
.homepage_video {width: 640px; height: 360px; position: absolute; top: 20px; left: 20px;}
.homepage_overlay {width: 650px; position: absolute; bottom: 0px; left: 20px; bottom: -2px;}
.three_principles {
	position: relative;
	width: 720px;
	margin-bottom: 0px;
	bottom: 0px;

	a:hover {
		text-decoration: none;
	}
}
.three_principles h5 {color: #fff;}
.three_principles .principle {margin-bottom: 20px; display: inline-block;}
.last {margin-right: 0px;}
.three_prisms {
	padding: 5px;
	padding-bottom: 0;
	width: 218px;

	a {
		margin-bottom: 5px;
		display: block;
	}

	a:hover {
		text-decoration: none;
	}

	.prism {
		border-bottom: 0;
		text-align: right;
		height: 47px;

		h2 {
			text-align: right;
		}
	}
}

.col_three {
	width: 300px;
	padding: 20px 20px 0px 0px;
}

.col_two_three {
	width: 700px;
	padding: 20px; 
}

table#home_bottom_blocks {width: 100%; }
#home_bottom_blocks .padding_in10 {padding: 0px;}
#home_bottom_blocks .address_course_event_row a {color: #427b98;}

.newscourse_block {}
.news_block {}
.news_block .view_all {display: inline;}
.news_block h4 {display: inline;}
.newsletter_capture {display: block; border: 1px solid #eee; padding: 10px; margin-bottom: 10px;
	.submit_btn {margin-top: 7px;}}
.upcoming_course_block, .upcoming_event_block, .featured
	{padding: 10px; background: #ffc; margin-bottom: 10px; border: 1px solid #eed; color: #333;}
.news_block {margin: 10px 0 0 0;}
.featured
	{padding: 5px; background: #ffc; margin-bottom: 0px; color: #333;}
	
.email_address_block 
	{width: 310px; padding: 10px; margin: 5px;}
.email_address_block {
}
.email_address_block {
	width: auto;
	border-top: 0;
	margin-top: 0;
}
#home_upcoming_course .view_all {display: inline;}
#home_upcoming_course h4 {display: inline;}
#home_upcoming_course .event_title a{font-weight: bold;}
#home_upcoming_course .event_start {size: 10px; color: #777;}
#home_upcoming_course .event_teaser {border: 0px; margin: 0px; padding: 0px; color: #777; line-height: 1.6em;}
#home_thoughts .view_all {display: inline;}
#home_thoughts h4 {display: inline;}
.view_all {float: none;}
#home_thoughts {}


/*right_column*/
table.right_col{border:none;border-collapse:collapse;}
td.right_column{border-bottom: 1px solid #eee;}
table.right_col tr{margin:0 5px;border:none;border-collapse:collapse;}
.right_column table tr td{border:0px solid #eee;border-bottom: 0;border-collapse:collapse;width:240px}
table.events_block tr td {border-style: 0px; border-width: 0px; border: 0px;}
.yellow_bg{background:#F7FBDC;}
.padding_in10{padding:10px;}

.email_box{width:92%;height:37px;border:1px solid #eee;margin:5px 0;padding:0 3px;vertical-align:top;color:#676767;}
.submit_btn{float:right; margin-top:0px;}

/*Blocks */
.block_network_learn {
	height: 180px;
	background:#000 url('/images/networkandlearn.jpg');
}

/*navigations*/
.blue_link{font-size:15px;font-weight:normal;color:#268BB3;text-decoration:none;font-family:arial;}
.blue_link:hover{font-size:15px;font-weight:normal;color:#268BB3;text-decoration:underline;font-family:arial;}

/*footer*/
#footer{margin:20px 0 40px 0;}
.copyright{font-size:13px;font-weight:bold;color:#404040;text-decoration:none;font-family:arial;line-height:1.6em;padding:0;text-align:center;}	
#footer .copyright a{display: inline; text-decoration:underline; font-size:13px;font-weight:normal;color:#606060;font-family:arial;line-height:27px;height:27px;padding:0;}	
#footer a{width: 224px; display: inline-block; font-size:12px;font-weight:normal;color:#606060;font-family:arial;line-height:27px;height:27px;padding:0;}	
#footer a:hover{font-weight:normal;color:#000;text-decoration:underline;font-family:arial;line-height:27px;height:27px;padding:0;}	
#footer h5, .footer_title{font-size:13px;font-weight:bold;line-height:1.3;margin:0;font-family:arial;color:#404040;}
#footer hr, hr.single_line{color: #F3E3B4;background:transparent; border: 1px solid #eee; border-style: none none solid; margin:5px 0;padding:0;}
#footer a:hover {background: #ddd;}
.footer_link {width: 224px; }

.formtastic fieldset {
	margin-bottom: 10px;
}

.formtastic li {
	list-style-type: none;
	margin: 0;
	padding: 3px;
}

.formtastic label {
	width: 120px;
	font-weight: bold;
	float: left;
}

.formtastic .choices-group label {
	float: none;
}

.formtastic li.boolean label {
	float: none;
	margin-left: 120px;
}

.formtastic .choices-group {
	margin-left: 120px;
}

.formtastic textarea {
}

.formtastic legend {
	font-size: 1.2em;
	text-decoration: underline;
}

.formtastic legend span {
	cursor: pointer;
}

.formtastic legend span.collapsed {
	color: blue;
}

#user_menu li {
	list-style-type: none;
	padding-left: 10px;
}

#user_menu li a {
	padding: 2px;
	display: block; 
}

#user_menu li a:hover {
	background: #dce7ef;
}

.nav_main ul.sub_menu {
	position: absolute;
	display: none;
	top: 105px;
	list-style-type: none;
	margin: 0;
	background-color: #fff;
	color: #777;
	z-index: 9999;
}

.nav_main ul.sub_sub_menu {
	position: absolute;
	display: none;
	list-style-type: none;
	margin: 0;
	left: 220px;
	top: 0px;
	background-color: #fff;
	color: #777;
}

.nav_main td.top_nav_container:hover ul.sub_menu {
	display: block;
}

.nav_main td.top_nav_container ul.sub_menu li:hover ul.sub_sub_menu {
	display: block;
}

.nav_main ul.sub_menu li {
	border-bottom: 1px solid #ddd;
	border-right: 2px solid #eee;
	border-left: 1px solid #ddd;
}

.nav_main ul.sub_menu li a {
	color: #333;
	text-decoration: none;
	width: 220px;
	display: block;
	padding: 5px;
	font-weight: bold;
	line-height: 20px;
}

.nav_main ul.sub_menu li a:hover {
	background-color: #EBEAE6;
	color: #333;
}

table.data_table {
	width: 100%;
	padding-bottom: 5px;
	font-size: 11px;
}

table.data_table thead {
	background-color: #ccc;
}

table.data_table thead th {
	padding: 5px 2px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	border-right: 1px solid white;
	background: #eee;
}

table.data_table tbody tr td {
	padding: 5px 2px;
}

table.data_table tbody tr.even {
	background-color: #f5f5f5;
}

table.data_table tr td.controls a {
	margin-right: 5px;
}

table.left_menu_container {
	width: 100%;
}

table.left_menu_container td.left_menu {
	width: 180px;
	border-right: 1px solid #eee;
}

table.left_menu_container .left_menu_item {
	border-bottom: 1px solid #eee;
}

table.left_menu_container .left_menu_item a,
table.left_menu_container .left_menu_item span {
	display: block;
	color: black;
	text-decoration: none;
	padding: 7px 10px;
	font-weight: bold;
}

table.left_menu_container .left_menu_item a.active {
	background-color: #caf0fe;
}

.left_menu_item .element {
	font-size: 11px;
	color: #777; 
}

table.left_menu_container .left_menu_sub_item a {
	font-weight: normal;
	padding-left: 20px;
}

table.left_menu_container .left_menu_sub_item a:hover {
	background: #e2eff4;
}

table.left_menu_container .content_with_left_menu {
	min-height: 400px;
	display: block;
	border-bottom: 1px solid #eee;
	margin-bottom: -1px;
}

.contemporary_issues_list_header {
	padding: 10px 0px;
	border-top: 1px dotted #777;
	margin-top: 10px;
}

.contemporary_issues_list,
.encyclical_list,
.user_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.contemporary_issues_list li {
	margin: 0 0 0px 0;
	display: inline-block;
	width: 235px;
	font-size: 11px;
} 

.contemporary_issues_list li a,
.encyclical_list li a,
.user_list li {
	display: inline-block;
	width: 240px;
	padding: 4px;
	text-decoration: none;
}

.encyclical_list li a {
	width: 220px;
}

.contemporary_issues_list li a:hover {
	background: #ffc;
}

.user_list {
}

.user_list li {
	width: 335px;
	padding: 0;
	border: 1px solid #eee;
 	-moz-box-shadow:    2px 2px 2px 0px #ddd;
  	-webkit-box-shadow: 2px 2px 2px 0px #ddd;
  	box-shadow:         2px 2px 2px 0px #ddd; 
  	margin-right: 10px;
  	margin-bottom: 10px;
  	background: #fff; 
  	display: inline-block;
}

.user_list li .user_info {
	font-size: 10px;
	padding: 4px 0 4px 4px;
	color: #555;
	display: inline-block;
	vertical-align: top;
	width: 230px;
	line-height: 1.4em;
}

.user_list li img {
	border: 0;
	padding-right: 0px;
}

.thought_quote {
	font-family: georgia;
	font-size: 16px; 
	color: #777;
	line-height: 1.6em;
	margin-top: 10px;
	margin-bottom: 15px;
}

.thought .thought_image {
	width: 60px;
	display: inline-block;
}

.thought {
	margin: 10px 0 10px 0;
	border-top: 1px dotted #aaa;
	padding: 10px 0 0 0;
}

.thought .thought_author_container {
	text-align: left;
	padding: 0 0 0 0px;
}

.thought_image {
	display: inline-block;
	margin-left: 0px;
}

.thought_image img {
	max-width: 60px;
	max-height: 60px;
}

.thought .thought_teaser {
	display: inline-block;
	padding: 0 0 0 0px;
	font-family: arial;
	font-size: 12px;
	line-height: 1.6em;
	color: #777;
}

.thought_teaser_list_item .thought_teaser {
	display: inline-block;
	padding: 0 0 0 0px;
	font-family: arial;
	font-size: 14px;
	line-height: 1.6em;
	color: #777;
}

.thought_quote p {margin: 0px; padding: 0px; font-family: arial !important;}
.page .thought_author_container {margin: 0px; padding: 0px;}

.thought_block {
	font-size: 11px;
	color: #777;
	margin-bottom: -1px;
}

.thought_block .thought_quote {
	font-size: 14px;
	line-height: 1.6em;
}

.thought_author_container {
	padding-top: 5px;
	color: #777;
	font-family: arial;
	display: inline;
}

.thought_author {
	display: inline;
}

.thought_author .thought_image {
	display: inline;
}

.thought_block .contemporary_issue {
	color: #61849D;
}

table.thought_block tr td {
}

.events_block tr {
	background-color: #111;
	color: #ddd;
}

.events_block tr a {
	display: block;
	color: #61849d;
	text-decoration: none;
}

.events_block tr a:hover {
	text-decoration: underline;
}

.event_teaser {
	padding: 10px 0px;
	border-top: 1px dotted #777;
	width: 100%;
}

.event_teaser_list_item .event_teaser {
	padding: 0px 0px;
	margin: 0px 0 0 0;
	border-top: 0px;
	width: 100%;
}

.event_teaser h5 {
	font-size: 14px;
	line-height: 1.6em;
	
	a {
		color: #333;
	}
}

.event_teaser .event {
	font-size: 11px;  
	color: #555;
}

.event_teaser .event_users {
	padding-right: 10px;
	color: #777;
	font-size: 11px;
	margin-top: 10px;
}

.event_teaser .event_speaker {
	vertical-align: middle;
	color: #777;
	font-size: 11px;
}

.event_teaser .event_spots {
	color: #777;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
}

.event_teaser .event_time {
	color: #333;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
}

.event_about_time {
	font-weight: normal;
	font-size: 11px;
	color: #777;
}

.event_teaser .event_spots .event_spots_available {
	color: #ff4444;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
}

.event_page .rsvp, .event_page .unrsvp {
	margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
	text-align: center;
	vertical-align: middle;
    
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
	
	text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    box-shadow: 0 0 1px #FFFFFF inset;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 8px 20px;
}

.rsvp:hover {
	background: #fff;
}

.event_teaser .rsvp, .event_teaser .unrsvp, .submit_btn, .update {
    font-size: 11px;
    font-weight: bold;
    color: #555555;
	text-align: center;
	vertical-align: middle;
    
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
	
	text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    box-shadow: 0 0 1px #FFFFFF inset;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 8px 12px;
    display: block;
}

.small_btn {
    font-size: 11px;
    font-weight: bold;
    color: #000;
	text-align: center;
    
    background: -moz-linear-gradient(center top , #aaa, #777) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#777));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#777');
	
	text-shadow: 0 0 0 transparent, 0 1px 0 #aaa;
    box-shadow: 0 0 1px #333 inset;
    border: 1px solid #333;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 4px 6px;
    display: block;
    margin: 6px 0px 4px 0px;
    display: inline-block;
}

.event_header .event_time_info {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 6px 0;
}

.event_header .event_time_info .event_start,
.event_header .event_time_info .event_end {
	color: #333;
	padding-left: 20px;
}

.event_page, .content_with_left_menu {
	background: url('/images/blue_background.png') top left repeat-x;
	min-height: 550px;
}

.event_page .event_body {
	padding: 10px 0;
}

.location_box, .host_box, .director_box {
	padding: 10px; margin: 0 0 10px 0; background: #ffc; border: 1px solid #dde;
}

.event_page .event_location,
.event_page .event_director, .event_chapter {
	font-weight: bold;
	font-size: 1.1em;
}

.event_left_menu_container,
.story_left_menu_container,
.thought_left_menu_container,
.search_left_menu_container,
.encyclical_left_menu_container {
	border-top: 1px solid #eee;
}

.event_left_menu_container .content_with_left_menu,
.story_left_menu_container .content_with_left_menu,
.thought_left_menu_container .content_with_left_menu {
	background-color: transparent !important;
}

.event_left_menu,
.story_left_menu,
.thought_left_menu {
	border-right: 0 !important;
}

.event_left_menu strong,
.story_left_menu strong,
.thought_left_menu strong,
.encyclical_left_menu strong {
	display: block;
	padding: 8px;
}

.event_left_menu .element,
.story_left_menu .element,
.thought_left_menu .element,
.encyclical_left_menu .element {
	padding-left: 8px;
	padding-bottom: 3px;
}

.event_left_menu .left_menu_item,
.story_left_menu .left_menu_item,
.thought_left_menu .left_menu_item {
	border-right: 1px solid #eee;
	padding-bottom: 5px;
}

.event_teaser_list,
.story_teaser_list,
.thought_teaser_list {
	border: 0px solid #eee;
	border-bottom: 0;
}

.event_teaser_list_item,
.story_teaser_list_item {
	padding: 16px;
	border-bottom: 1px dotted #ccc;
	background: #fff;
	position: relative;
	font-weight: lighter;
}

#js_thought_list {
}

.thought_teaser_list_item {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	min-height: 220px;
	padding: 20px;
	background: white;
	margin: 5px 5px 5px 5px;
	border: 1px solid #eee;
}

.thought_teaser {}
.thought_title, .story_title {font-size: 16px; a {color: #333;}} 
.published_at {font-size: 11px; font-style: italic; color: #aaa; }
.share {width: 100px; padding: 10px;}

pre {
	height: 40px;
}
.st_sharethis_hcount, .st_facebook_hcount, .st_twitter_hcount, .st_linkedin_hcount, .st_email_hcount  {
 display: inline-block; float: left; position: absolute; margin-top: 20px; top: 0px; 
}

.st_sharethis_hcount {}
.st_facebook_hcount {left: 150px;}
.st_twitter_hcount {left: 250px;}
.st_linkedin_hcount {left: 350px;}
.st_email_hcount {left: 450px;}

a.contemporary_issue_link {
	padding: 0px 8px;
	background-color: #e0edd4;
	border: 1px solid #88c358;
	color: #4f7a28;
	text-decoration: none;
	display: inline-block;
	margin: 5px 0px 0px;
	font-size: 11px;
}

.person_type_link {
	padding: 0px 6px;
	background-color: #d3e6e6;
	border: 1px solid #87baba;
	color: #438989;
	text-decoration: none;
	display: inline-block;
	margin: 5px 0px 0px;
	font-weight: bold;
	font-size: 11px;
}

.person_type_link:hover {
	ackground-color: #e7f6f6;
}

a.contemporary_issue_link:hover {
	background-color: #ffc;
}

a.encyclical_link {
	padding: 0px 4px;
	background-colorx: #fefcdd;
	borderx: 1px solid #f5ec00;
	colorx: #8d8600;
	text-decoration: none;
	font-size: 1em;
}

a:hover {
	text-decoration: underline;
}

.profile_table tr td{
}

.about_td {
	width: 600px;
	padding-left: 10px;
}

.formtastic .profile_image {
	padding-top: 10px;
	padding-left: 125px;
}

.study_center_blocks {
	width: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.study_center_blocks select {
	margin-top: 8px;
}

.study_center_blocks tr td {
	width: 50%;
	padding: 15px;
}

.study_center_blocks .first_row td {
	border-bottom: 1px solid #eee;
}

.study_center_blocks .first_block {
	border-right: 1px solid #eee;
}

.black_contemporary_issues_list {
	width: 740px;
	background: url("/images/background_image.jpg") black;
	padding: 10px;
	
}

.issue {

}

.homepage_quote {
	padding: 0 0 0 10px;
}

.black_contemporary_issues_list .issue a {
	width: 230px;
	padding: 6px 5px;
	margin: 0px;
	float: left;
	text-decoration: none;
	color: #eee;
	font-weight: bold;
	font-size: 1em;
}

.black_contemporary_issues_list .issue a:hover {
	color: #fff;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	text-decoration: underline;
}

.black_contemporary_issues_list .issue a.active {
	background-color: #96d35f;
	color: #fff;
}

.contemporary_issue_title {
}

.events_block .event {
	background: url('/images/calendar.png') no-repeat;
	background-position: 0px 2px;
	margin: 8px 0px;
}

.events_block .event a {
	margin-left: 20px;
}

.study_center {
}

.study_center h2 {
}

.study_center_title {
	font-size: 14px;
	color: #fff;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	width: 450px;
	padding: 10px;
}

.study_center_title h2 {
	font-size: 14px;
}

.sheen_black {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

.sheen_homepage_title {
	width: 550px;
	padding: 10px;
	position: relative;
	top: 20px;
	left: 20px;
}

.sheen_black a {
	color: #CAF0FE;
}

.sheen_black h2, sheen_white h2 {
	color: #fff;
	font-size: 12px; 
	text-transform: uppercase;
}

.sheen_white h2 {
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	margin: 2px 10px 4px 0px;
}

.sheen_black h4 {
	text-align: right;
	font-weight: regular;
}

.sheen_white {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
}

.sheen_white:hover {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
}

.sheen_homepage_title h1 {
	text-transform: none;
	color: #fff;
	display: inline-block;

	p {
		color: #fff;
		font-size: 16px;
		display: inline-block;
	}

	h2 {
		display: inline-block;
	}

}

.homepage_principles_prisms {
	position: relative;
	bottom: 0px;
}

.study_center_title a {
	color: #fff;
	text-decoration: underline;
	display: inline-block;
}

.study_center_title a:hover {
	color: yellow;
}

.video_block_main h2 {
	font-size: 18px;
	position: absolute;
	display: block;
	top: 20px;
	width: 500px;
	left: 20px;
}

.event_type {
	font-size: 11px;
	padding: 0px 6px;
	border: 1px solid #aaa;
	display: table-cell;
	}

.event_type_lecture {
	background: #fffac1;
	border-color: #f5eb4E;
}

.event_type_course {
	background: #caf1fd;
	border-color: #00B8e4;
}

.event_type_conference {
	background: #E0EDD6;
	border-color: #95D270;
}

.event_type_communion_breakfast {
	background: #FFDAD9;
	border-color: #FFA483;
}

.content_fragment_header_image {
	padding-top: 5px;
	padding-bottom: 10px;
}

.search_result_title {
	font-weight: bold;
	font-size: 1.1em;
	padding-bottom: 8px;
}

.search_result_date {
	float: left;
	padding-right: 15px;
	color: #666;
	font-size: 0.8em;
	font-weight: bold;
}

.search_result {
	padding: 5px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px dotted #aaa;
}

.search_result_type {
	float: left;
	padding: 1px 8px;
	border: 1px solid;
	font-size: 1em;
	position: relative;
	top: -2px;
}

.search_result_highlight {
	font-weight: bold;
	color: black;
}

.search_page_form {
	padding-left: 0;
	margin-left: 0;

	.search_input {
		padding: 4px;
		margin-left: 0;
		border: 1px solid #eee;
		color: #444;
		font-size: 1.2em;
	}
}

.search_left_menu {
	padding-top: 5px;
	padding-bottom: 5px;

	.left_menu_item {
		padding-left: 10px;
	}
}

table.search_left_menu_container .content_with_left_menu {
	padding: 0;
}

#search_box {
	position: absolute;
	top: 71px;
	right: 6px;

	.search_input {
		padding: 3px;
		color: #444;
		font-size: 0.9em;
		width: 185px;
	}
}

.event_header_navigation {
	padding-left: 190px;
	font-size: 1.2em;
	padding-bottom: 5px;
	font-weight: bold;
}

.national_board_member_content {
	padding: 0;

	.board_member {
		padding: 0px;
		border-bottom: 1px dotted #aaa;
		margin-bottom: 5px;
		padding-bottom: 5px;

		.board_member_image {
			float: left;
			padding-right: 15px;
		}

		.user_info {
			font-weight: bold;
		}

		.user_info a {
			font-size: 1.3em;
			padding-bottom: 3px;
		}

		.user_title {
			padding-bottom: 10px;
		}

		.user_about {
			font-weight: normal;
		}
	}
}

ul.accordion_list {
	padding-bottom: 10px;
	margin: 0px;

	> li {
		display: block;
		padding: 10px 12px;
		margin: 3px;
		margin-top: 0;
		margin-left: 0;
		font-weight: bold;
		color: #000;
    	border-radius: 		4px 4px 4px 4px;
		font-size: 14px;
		cursor: pointer;
		border: 1px solid #eee;
		background: url('/assets/menu_box_arrow.png') no-repeat 10px 50%;
		background: -moz-linear-gradient(center top , white, #EFEFEF) repeat scroll 0 0 #F6F6F6
	}

	> li.open {
		padding-left: 30px;
		background: #eee url('/assets/menu_box_arrow_down.png') no-repeat 10px 50%;
	}

	ul {
		border: 1px solid #eee;
		list-style-type: none;
		padding: 9px;
		margin-top: -2px;
		border-top: 0px;
	}

	ul li {
		padding: 5px;
	}
}

.breadcrumbs {
	line-height: 24px;
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 18px;
	width: 90%;
	display: inline-block;

	a {
		display: inline-block;
		font-size: 12px;
	}

	.breadcrumb_seperator {
		padding: 0 3px 0 5px;
		display: inline-block;
		font-size: 12px;
	}

	span.breadcrumb {
		display: inline-block;
		font-size: 20px;
		color: #000;
	}
}

.left {float: none;}
