/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:top;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/*Background and Structure*/
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

/*Typography definition*/
h1 {font-size:24px;font-weight:bold;line-height:140%;margin:0;font-family:arial;color:#232323;}
h2 {font-size:18px;font-weight:bold;line-height:130%;margin:0;font-family:arial;color:#232323;}
h3 {font-size:15px;font-weight:bold;line-height:130%;margin:0;font-family:arial;color:#232323;}
h4 {font-size:14px;font-weight:bold;line-height:130%;margin:0;font-family:arial;color:#232323;}
h5 {font-size:12px;font-weight:bold;line-height:150%;margin:0;font-family:arial;color:#232323;}/*left bar title CAP*/

/*---General Define P TAG*/
.arial{font-family:arial;}
.cblack{color:#3C3D3D;}
.cgrey{color:#676767;}
.cblue{color:#268BB3;}
.size11{font-size:11px; line-height:130%;}
.size12{font-size:12px; line-height:130%;}
.size13{font-size:13px; line-height:140%;}
.size14{font-size:14px; line-height:150%;}
.size15{font-size:15px; line-height:150%;}
.bold{font-weight:bold;}

/*---Special Group*/
p.italyGeogia{font-style:italic; font-family:Geogia;}

/*Basic Structure*/
body{background:#E7E9EB;}
#content{width:1001px;height:auto;margin:auto;background:#E7E9EB;}


/*--Header*/
#header{width:1001px;clear:both;}
/*----logo*/

/*----Top Navigation & Search Box*/
#top_nav_bar{display:block;width:1001px;height:40px;background:url(/images/top_nav_bg.gif);}

table.nav_main{display:inline;border:none;border-collapse:collapse;}
table.nav_main tr{margin:0 5px;line-height:40px;border:none;border-collapse:collapse;}
table.nav_main tr td{border:none;border-collapse:collapse;}

a.top_nav{font-size:14px;font-weight:bold;color:#fff;text-decoration:none;font-family:arial;line-height:40px;height:40px;padding:0 16px;display:block;}
a.top_nav:hover{font-size:14px;font-weight:bold;color:#fff;text-decoration:none;font-family:arial;line-height:40px;height:40px;padding:0 16px;display:block;background:url(/images/top_nav_bg_hover.gif) repeat-x center;}

.search_form{width:250px;height:24px;background:#fff;border:1px #ccc solid;margin:6px 10px;padding:0;}
.search_box{width:214px;height:24px;border:none;padding:0 3px;vertical-align:top;color:#676767;}
.search_btn{background:url(/images/search_btn.png);vertical-align:top; width:26px;height:23px;border:none;}

/*Main Part*/
#main{background:#fff;border:none;width:1000px;height:auto;margin:20px 0 0 0}
.left_column{width:180px;}
.left_content{width:760px; border:1px solid #ccc; border-right: 0;}
.left_content .page {padding:20px}
.right_content{width:820px;}
.right_column{width:240px;}
.middle_content{width:580px;}

/*right_column*/
table.right_col{display:inline;border:none;border-collapse:collapse;}
td.right_column{border-bottom: 1px solid #ccc;}
table.right_col tr{margin:0 5px;border:none;border-collapse:collapse;}
table.right_col tr td{border:1px solid #ccc;border-bottom: 0;border-collapse:collapse;width:240px}
.yellow_bg{background:#F7FBDC;}
.padding_in10{padding:10px;}

.email_box{width:219px;height:37px;border:1px solid #ccc;margin:5px 0;padding:0 3px;vertical-align:top;color:#676767;}
.submit_btn{float:right;margin-top:10px;}

/*navigations*/
.blue_link{font-size:15px;font-weight:normal;color:#268BB3;text-decoration:none;font-family:arial;}
.blue_link:hover{font-size:15px;font-weight:normal;color:#268BB3;text-decoration:underline;font-family:arial;}

/*footer*/
#footer{margin:20px 0 0 0;}
.copyright{font-size:13px;font-weight:bold;color:#404040;text-decoration:none;font-family:arial;line-height:1.4em;padding:0;text-align:center;}	
.footer_link{font-size:13px;font-weight:normal;color:#606060;text-decoration:none;font-family:arial;line-height:27px;height:27px;padding:0;display:block;}	
.footer_link:hover{font-size:13px;font-weight:normal;color:#000;text-decoration:underline;font-family:arial;line-height:27px;height:27px;padding:0;display:block;}	
.footer_title{font-size:13px;font-weight:bold;line-height:1.3;margin:0;font-family:arial;color:#404040;}
hr.single_line{color: #F3E3B4;background:transparent; border: 1px solid #ccc; border-style: none none solid; margin:5px 0;padding:0;}

fieldset.inputs li,
fieldset.buttons li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.formtastic fieldset {
  margin-bottom: 10px;
}

.formtastic fieldset label {
  width: 120px;
  font-weight: bold;
  float: left;
}

.formtastic fieldset li.boolean label {
  float: none;
  margin-left: 120px;
}

.formtastic fieldset textarea {
  margin-left: 120px;
}

.formtastic fieldset legend {
  font-size: 1.2em;
  text-decoration: underline;
}

.formtastic fieldset legend span.collapsed {
  color: blue;
}

#user_menu li {
  list-style-type: none;
  padding-left: 10px;
}

.nav_main ul.sub_menu {
  position: relative;
  display: none;
  top: -2px;
  list-style-type: none;
  margin: 0;
  background-color: black;
  color: white;
}

.nav_main td.top_nav_container:hover ul.sub_menu {
  display: block;
}

.nav_main ul.sub_menu li {
  border-bottom: 1px solid #999;
}

.nav_main ul.sub_menu li a {
  color: #aaa;
  text-decoration: none;
  width: 170px;
  display: block;
  padding-left: 5px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

.nav_main ul.sub_menu li a:hover {
  background-color: #77bb41;
  color: white;
}

table.data_table {
  width: 100%;
  padding-bottom: 5px;
}

table.data_table thead {
  background-color: #ccc;
}

table.data_table thead th {
  padding: 5px 2px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid white;
}

table.data_table tbody tr td {
  padding: 5px 2px;
}

table.data_table tbody tr.even {
  background-color: #f5f5f5;
}

table.data_table tr td.controls a {
  margin-right: 5px;
}

table.left_menu_container {
  width: 100%;
}

table.left_menu_container td.left_menu {
  width: 170px;
  border-right: 1px solid #ccc;
}

table.left_menu_container .left_menu_item {
  border-bottom: 1px solid #ccc;
}

table.left_menu_container .left_menu_item a,
table.left_menu_container .left_menu_item span {
  display: block;
  color: black;
  text-decoration: none;
  padding: 7px 10px;
  font-weight: bold;
}

table.left_menu_container .left_menu_item a.active {
  background-color: #caf0fe;
}

table.left_menu_container .left_menu_sub_item a {
  font-weight: normal;
  padding-left: 20px;
}

table.left_menu_container .content_with_left_menu {
  padding: 20px;
  background-color: #e7f5f5;
}

.contemporary_issues_list_header {
  padding: 10px 2px;
}

.contemporary_issues_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contemporary_issues_list li a {
  display: block;
  float: left;
  width: 180px;
  padding: 8px 8px;
  text-decoration: none;
}

.thought_quote {
  font-style: italic;
}

.thought_author_container {
  text-align: right;
  padding-top: 5px;
  color: #777;
  font-style: italic;
}

.thought_block .contemporary_issue {
  color: blue;
}
