/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.story_teaser .rss_feed_icon, .news_teaser .rss_feed_icon {
	float: left;
	width: 16px;
	height: 16px;
	background: url("/assets/rss.png") 50% 50% no-repeat;
	position: relative;
}

.story_teaser .source {
	font-weight: bold;
	display: inline;
}

.story_teaser .published_at,
.story_teaser .category {
	display: inline;
	margin-left: 5px;
}

.story_teaser .category, .news_teaser .category {
padding: 0 10px;
background: orange;
float: left;
font-size: 10px;
height: 16px;
margin-left: -2px;
margin-right: 5px;
color: #fff;
border-radius: 2px;
}

.story_teaser {
	width: 100%;
}

.story_teaser .thought_title a {
		color: #666666;
}