/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.account_notification_box {
	width: 250px;
	background-color: #ffc;
	padding: 20px;
	position: absolute;
	left: 300px;
}
