.page
	= link_to 'Send Activation', activate_admin_user_path(@user), :class => 'btn_edit clear', :method => :post, :style => "margin-top: 8px", :confirm => "Are you sure you want to email this account holder an activation email?"
	%h2 Edit Account Holder
	= render :partial => 'form'
