.page
	%h2
		All Email Addresses
		= link_to "(raw)", raw_admin_email_addresses_path
	- table(@email_addresses, ['email', 'created', '']) do |email_address, klass|
		%tr{:class => klass}
			%td= email_address.email
			%td= email_address.created_at.strftime("%c")
			%td.controls
				= link_to 'Delete', admin_email_address_path(email_address), :method => :delete, :confirm => "Are you sure?"
