.page
	%h2
		All Email Addresses
		= link_to "(manage)", admin_email_addresses_path
	%br
	%br
	.email_addresses_list
		- @email_addresses.collect { |c| c.email }.each do |email|
			.email_address= email

