.page
	%h2 All Chapters
	- table(@chapters, ['name', '']) do |chapter, klass|
		%tr{:class => klass}
			%td= chapter.name
			%td.controls
				= link_to 'Edit', edit_admin_chapter_path(chapter)
				- if chapter.users.empty? && chapter.events.empty?
					= link_to 'Delete', admin_chapter_path(chapter), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Chapter', new_admin_chapter_url
