- if @thoughts.empty?
	.no_results
		= "No results for the given filters.  Try removing some filters."
- else
	- @thoughts.each do |thought|
		.story_teaser_list_item
			= render :partial => 'teaser', :object => thought
