.page
	= render :partial => 'content_fragments/page', :object => @thought
	%h4 Written by:
	= render :partial => 'users/list', :object => [@thought.user]
	= render :partial => 'contemporary_issues/list', :object => @thought
:javascript
	$(function() {
		$(".top_nav").removeClass("active");
		$("#top_nav_study_center").addClass("active");
	});
